<div class="box p-5 surface-ground shadow-1 border-round-lg text-center">
  <div class="cover">
     <div class="auth-child">
      <router-outlet />
     </div>

    <div class="flex justify-content-center gap-3">
      <a class="text-primary text-xs hover:text-primary-400 transition-duration-100 cursor-pointer">Terms</a>
      <a class="text-primary text-xs hover:text-primary-400 transition-duration-100 cursor-pointer">plans</a>
      <a class="text-primary text-xs hover:text-primary-400 transition-duration-100 cursor-pointer">Contact Us</a>
    </div>
  </div>
</div>