:host {
  display: block;
  min-height: 35.25rem;
  @media (min-width: 1400px) {
    margin-left: 1rem;
  }
  ::ng-deep {
    tr {
      &:last-of-type {
        td {
          border-bottom: none;
        }
      }
    }
  }
}