<div class="flex justify-content-between align-items-center mb-5">
  <div>
    <p class="m-0 mb-1 text-900 text-lg font-bold">Activities</p>
    <span class="text-13px text-400 font-semibold">231,111 Seals</span>
  </div>
  <app-filter-options-popup />
</div>

<p-timeline [value]="activities" styleClass="p-timeline-right">
  <ng-template pTemplate="content" let-activity>
    <span [class]="'text-13px ' + activity.class">{{ activity.title }}</span>
  </ng-template>
  <ng-template pTemplate="opposite" let-activity>
    <small class="text-900 font-bold">{{ activity.time }}</small>
  </ng-template>
</p-timeline>