<p class="m-0 mb-4 text-900 text-3xl font-bold">Forgot Password ?</p>
<span class="block mb-5 text-400 text-sm font-semibold">Enter your email to reset your password.</span>

@if (submitted()) {
  <p-messages styleClass="mb-5 text-sm" [value]=" [{ severity: 'info', detail: 'Sent password reset. Please check your email'}]" [enableService]="false" [closable]="false" />
}

<div class="mb-5 text-left">
  <p-floatLabel>
    <input #emailInp pInputText id="email" formControlName="email" class="w-full" />
    <label for="email">Email</label>
  </p-floatLabel>
</div>

<div class="flex gap-1 justify-content-center mb-5">
  <p-button label="Submit" [disabled]="!emailInp.value" [loading]="loading()" (onClick)="load()" />
  <p-button label="Cancel" routerLink="/auth/login" [text]="true" />
</div>