<p class="m-0 mb-2 text-xl font-bold">Your Are Done!</p>
<p class="text-color-secondary text-13px font-bold mb-5">
  If you need more info, please
  <span class="text-primary hover:text-primary-400 transition-duration-100 text-sm cursor-pointer">Sign in</span> .
</p>

<p class="text-color-secondary text-sm m-0 mb-4 my-line-hight">Writing headlines for blog posts is as much an art as it is a science and probably warrants its own post, but for all advise is with what works for your great & amazing audience.</p>

<div class="p-4 border-round border-yellow-200 border-dashed mb-6">
  <p class="m-0 mb-3 text-lg font-bold">We need your attention!</p>
  <p class="font-semibold m-0 text-color-secondary">
    To start using great tools, please
    <span class="text-primary hover:text-primary-400 transition-duration-100 text-sm font-bold cursor-pointer">Create Team Platform</span> .
  </p>
</div>

<p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback().emit()" />
