:host {
  display: flex;
  justify-content: center;
  
  ::ng-deep {
    .p-sidebar {
      width: 100%;
      max-width: 32rem;
    }

    #menuChatButton {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: var(--green-500);
        top: 25%;
        right: 10%;
        animation: blink 1.25s infinite;
      }
    }

    @keyframes blink {
      0%, 80% {
        opacity: 1;
      }
      81%, 100% {
        opacity: 0;
      }
    }
  }
}