:host {
  .choose-account {
    display: flex;
    align-items: center;
    gap: .25rem;
  }
  .types-parent {
    > div {
      cursor: pointer;
      transition: 100ms;
      &:hover {
        border-color: var(--primary-color) !important;
      }
      &.active {
        border-color: var(--primary-color) !important;
      }
    }
  }
}