<p-button (onClick)="op.toggle($event)" icon="pi pi-ellipsis-h" [text]="true" />

<p-overlayPanel #op class="shadow-8" styleClass="w-19rem">
  <h4 class="px-4 py-3 m-0 border-bottom-1 border-200">Filter Options</h4>

  <form #form class="p-4">
    <div class="mb-5">
      <span class="block font-semibold mb-2 text-sm">Status:</span>
      <p-dropdown [options]="status" />
    </div>

    <div class="mb-4">
      <span class="block font-semibold text-sm mb-2">Member Type:</span>
      <div class="grid">
        <div class="col-6 flex align-items-center">
          <p-checkbox label="Author" name="member" value="author" class="text-sm text-gray-600" />
        </div>
        <div class="col-6 flex align-items-center">
          <p-checkbox label="Customer" name="member" value="customer" class="text-sm text-gray-600" />
        </div>
      </div>
    </div>

    <div class="mb-5">
      <span class="block font-semibold text-sm mb-2">Notifications:</span>
      <div class="flex align-items-center">
        <p-inputSwitch />
        <span class="text-sm text-gray-600 inline-block ml-2 mb-1">Enabled</span>
      </div>
    </div>

    <div class="flex justify-content-end gap-1">
      <p-button (onClick)="op.toggle($event)" label="Reset" [text]="true" />
      <p-button (onClick)="op.toggle($event)" label="Apply"  />
    </div>
  </form>
</p-overlayPanel>
