<div class="flex align-items-center flex-wrap justify-content-end mb-4 gap-2">
  <p class="text-900 font-bold text-lg m-0 flex-grow-1">My Projects</p>
  <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" styleClass="sm:w-15rem" placeholder="Select a Status" />
  <p-button label="New Project" />
</div>

<div class="grid">
  @for (project of paginatedProjects(); track $index) {
    <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="col-12 md:col-6 lg:col-4 animation-duration-200" [title]="project.title">
      <div class="px-4 py-5 surface-section shadow-1 border-round-lg m-1">

        <div class="flex justify-content-between align-items-center mb-4">
          <img [src]="project.img" class="w-3rem h-3rem p-2 surface-100 border-round" [alt]="project.title">
          <p-tag [value]="project.status" [severity]="getSeverity(project.status)" styleClass="p-2"></p-tag>
        </div>

        <p class="m-0 mb-2 font-bold text-lg text-900">{{ project.title }}</p>
        <span class="text-400 font-semibold text-base">{{ project.description }}</span>

        <div class="flex gap-3 my-4">
          <div class="border-round border-200 border-dashed p-2 w-9rem">
            <p class="m-0 mb-1 font-bold text-sm">{{ project.dueDate | date }}</p>
            <span class="text-400 font-bold text-13px">Due Date</span>
          </div>
          <div class="border-round border-200 border-dashed p-2 w-9rem">
            <p class="m-0 mb-1 font-bold text-sm">{{ project.budget | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
            <span class="text-400 font-bold text-13px">Budget</span>
          </div>
        </div>

        <div class="surface-100 progress mb-3">
          <span [style]="'width: ' + project.progress + '%'"
            [ngClass]="{
              'bg-primary-500': project.status === 'In Progress',
              'bg-orange-500': project.status === 'Pending',
              'bg-red-500': project.status === 'Upcoming',
              'bg-green-500': project.status === 'Completed'
            }"
          ></span>
        </div>

        <div class="flex">
          @for (person of project.team; track $index) {
            <p-avatar [pTooltip]="person.name" tooltipPosition="top"
              [image]="person.imgUrl" [label]="!person.imgUrl ? person.name[0] : ''" size="large" shape="circle" styleClass="bg-primary"
            />
          }
        </div>
      </div>
    </div>
  }
</div>

<p-paginator
  [totalRecords]="totalRecords()"
  [first]="first()"
  [rows]="rows()"
  (onPageChange)="paginate($event)"
  styleClass="mt-4 bg-transparent"
  [rowsPerPageOptions]="[6, 9, 12]"
/>