:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-weight: bold;
  color: var(--surface-400);
  div {
    > a {
      cursor: pointer;
      transition: 100ms;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}