<div class="flex justify-content-between gap-2 align-items-center mb-4">
  <div>
    <p class="m-0 mb-1 text-900 text-lg font-bold">Recent Orders</p>
    <span class="text-13px text-400 font-semibold">More than 500+ new orders</span>
  </div>
  <div>
    <p-button label="Year" size="small" />
    <p-button label="Month" [text]="true" size="small" />
    <p-button label="Week" [text]="true" size="small" />
  </div>
</div>

<apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [yaxis]="chartOptions.yaxis"
  [xaxis]="chartOptions.xaxis"
  [labels]="chartOptions.labels"
  [stroke]="chartOptions.stroke"
  [plotOptions]="chartOptions.plotOptions"
  [markers]="chartOptions.markers"
  [fill]="chartOptions.fill"
  [tooltip]="chartOptions.tooltip"
></apx-chart>